<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/jquery-ui.min.css">

    @*add 'asp-append-version' to properly apply the style*@
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

    @*for dismiss button to work(this should come after the script link above)*@
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1>@ViewData["Title"]</h1>
        </header>

        @if (TempData.Keys.Contains("LastActionMessage"))
        {
            <!-- for dismissible "last action messages" see chapter 3 for mre but... -->
            <div class="alert alert-success alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                @TempData["LastActionMessage"]
            </div>
        }

        @RenderBody()
    </div>
    <footer class="card-footer bg-light fixed-bottom">
        @if (ViewData.Keys.Contains("WelcomeMessage"))
        {
            @ViewData["WelcomeMessage"]
        }
    </footer>
</body>
</html>