@model PatientListViewModel

<h2 class="jumbotron text-center">Patient Records</h2>

<div class="row pb-3">
    <div class="text-left col-2">
        <a class="btn btn-outline-success"
           asp-action="PatientRecord"
           asp-controller="Patient">Add new patient</a>
    </div>

    <div class="text-right col-10">
        <ul class="nav nav-pills">
            @foreach (var cityNameFilter in Model.CityFilters)
            {
                <li class="nav-item">
                    <a asp-action="PatientList"
                       asp-route-cityFilter="@cityNameFilter"
                       asp-route-nameGroupFilterId="@Model.SelectedGroupNameFilterId"
                       class="nav-link @Model.GetActiveCityFilter(cityNameFilter)">@cityNameFilter</a>
                </li>
            }
        </ul>
    </div>
</div>

@if (TempData["DeletedPatientName"] != null && TempData["PatientID"] != null)
{
    <div class="text-right pb-5">
        <span class="alert alert-info pb-3">The patient "@TempData["DeletedPatientName"]" was deleted. <a asp-action="UndoDelete" asp-route-patientId="@TempData["PatientID"]">Undo</a> this delete.</span>
    </div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.PatientName</td>
                <td>@patient.PatientAddress1</td>
                <td>@patient.PatientCity</td>
                <td>
                    <a asp-action="PatientPrescriptionList"
                       asp-route-patientId="@patient.PatientId">Prescriptions</a>

                    <span class="linkSpacer">|</span>

                    <a asp-action="PatientRecord"
                       asp-route-patientId="@patient.PatientId">Edit</a>

                    <span class="linkSpacer">|</span>

                    <a asp-action="SoftDelete"
                       asp-route-patientId="@patient.PatientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="nav nav-pills">
        @foreach (var nameGroupFilter in Model.NameGroupFilters)
        {
            <li class="nav-item">
                <a asp-action="PatientList"
                   asp-route-cityFilter="@Model.SelectedCityFilter"
                   asp-route-nameGroupFilterId="@nameGroupFilter.NameGroupId"
                   class="nav-link @Model.GetActiveGroupNameFilter(nameGroupFilter.NameGroupId)">@nameGroupFilter.GroupName</a>
            </li>
        }
    </ul>
</div>