@model MoviesByGenreViewModel
@{
    ViewData["Title"] = $"Movies of the {Model.ActiveGenreName} genre";
}

<h1>@ViewData["Title"]</h1>
<a asp-controller="Movie" asp-action="Add">Add a new movie</a>
<span class="linkSpacer">|</span>
<a asp-controller="Movies" asp-action="Index">All movies</a>
<div class="row">
    <table class="table table-bordered table-striped col-sm-9">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td>@movie.Year</td>
                    <td>@movie.Rating</td>
                    <td>
                        <partial name="_MovieActionLinksPartial" model="@movie" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-3">
        <vc:top-rated-movies lowest-rating="5" number-of-movies-to-display="10"></vc:top-rated-movies>
    </div>
</div>
