@*Razor Code Block*@
@{
    string message = "Welcome";
    if (ViewBag.Name != null)
    {
        message = "Welcome Back";
    }
}

<p>
    @message @ViewBag.Name
    &nbsp;2 + 2 = @(2 + 2)
</p>

@*drop down month*@
<select name="month" id="month">
    @*Razor inline expression*@
    @for (int month = 1; month <= 12; month++)
    {
        <option value="@month">@month</option>
    }
</select>


<table class="table">
    <thead>
        <tr>
            <th>Categories</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewBag.Categories)
        {
        <tr>
            <td>@i</td>
            @if (i == "C1")
            {
                <td>Best</td>
            }
            else if (i == "C2")
            {
                <td>Second</td>
            }
            else
            {
                <td>Third</td>
            }


        </tr>
        }
    </tbody>
</table>
