@model TransactionRecordKbaek7943

@{
    string title = ViewBag.Action + " Transaction";
    ViewBag.Title = title;
}
<h1 class="jumbotron">@title</h1>
<h2>@title</h2>

<!-- form start -->
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TicketSymbol">Ticket Symbol</label>
        <input asp-for="TicketSymbol" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="TransactionTypeId">Transaction Type</label>
        <select asp-for="TransactionTypeId" class="form-control">
            <option>Select</option>
            @foreach (TransactionType t in ViewBag.TransactionTypes)
            {
                <option value="@t.TransactionTypeId">@t.Name</option>
            }
        </select>

        @*simplified foreach*@
        <select asp-for="TransactionTypeId" class="form-control"
                asp-items="@(new SelectList(ViewBag.TransactionTypes, "TransactionTypeId", "Name"))">

        </select>
    
    </div>

    <div class="form-group">
        <label asp-for="CompanyName">Company Name</label>
        <input asp-for="CompanyName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="SharePrice">Share Price</label>
        <input asp-for="SharePrice" class="form-control">
    </div>

    <input type="hidden" asp-for="TransactionRecordKbaek7943Id" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form><!-- / end form -->