@model List<TransactionRecordKbaek7943>
@{
    ViewData["Title"] = "Transactions";
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<h1 class="jumbotron">@ViewData["Title"]</h1>

@*test area*@
<div class="container border border-info p-2">
    <h3 class="jumbotron">Test area</h3>
    <p>@controller</p>
    <p>@action</p>
</div>

<h2>My Transactions</h2>
<a asp-controller="Transaction" asp-action="Add">Add New Transaction</a>

<!-- table start -->
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Ticker Symbol</th>
            <th>CompanyName</th>
            <th>Quantity</th>
            <th>Share Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- shows all the data in the transaction record database -->
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.TicketSymbol</td>
                <td>@i.CompanyName</td>
                <td>@i.Quantity</td>
                <td>$@i.SharePrice</td>
                <td class="text-nowrap">
                    <a asp-controller="Transaction"
                       asp-action="Edit"
                       asp-route-id="@i.TransactionRecordKbaek7943Id">Edit</a>
                    |
                    <a asp-controller="Transaction"
                       asp-action="Delete"
                       asp-route-id="@i.TransactionRecordKbaek7943Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table><!-- /end table -->
