@model VendorListViewModel
@{
    ViewData["Title"] = "Vendors";
}

<h2 class="jumbotron">
    @ViewData["Title"]
</h2>

<div class="row pb-3">
    <div class="text-left col-2">
        <a class="btn btn-outline-success"
           asp-route-actionType="Add"
           asp-action="VendorRecord">Add new vendor</a>
    </div>

    @if (TempData["DeletedVendorName"] != null && TempData["DeletedVendorId"] != null)
    {
        <div class="text-right undo-message-box col h-50">
            <span class="alert alert-info pb-3">
                vendor"@TempData["DeletedVendorName"]" was deleted.
                <a asp-action="UnDoSoftDelete"
                   asp-route-id="@TempData["DeletedVendorId"]">
                    Undo
                </a> this delete.
            </span>
        </div>
    }
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Vendors)
        {
            <tr>
                <td>@i.VendorName</td>
                <td>@i.VendorAddress1</td>
                <td>
                    <a asp-action=""
                       asp-route-patientId="@i.VendorId">Invoice</a>

                    <span class="linkSpacer">|</span>

                    <a asp-action="VendorRecord"
                       asp-route-actionType="Edit"                       
                       asp-route-id="@i.VendorId">Edit</a>

                    <span class="linkSpacer">|</span>

                    <a asp-action="SoftDelete"
                       asp-route-id="@i.VendorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row w-25 position-fixed fixed-bottom mx-auto">
    <ul class="nav nav-pills mb-4 border border-dark 
    rounded w-100 text-center bg-info">        
        <a class="text-light nav-item col-3
           @Model.GetActiveVendorFilter("ae")"
            asp-action="Index"
        asp-route-vendorFilter="ae">
            A-E
        </a>
        
        <a class="text-light nav-item col-3
           @Model.GetActiveVendorFilter("fk")"
            asp-action="Index"
        asp-route-vendorFilter="fk">
            F-K
        </a>
        
        <a class="text-light nav-item col-3
           @Model.GetActiveVendorFilter("lr")"
            asp-action="Index"
            asp-route-vendorFilter="lr">
            L-R
        </a>
        
        <a class="text-light nav-item col-3
           @Model.GetActiveVendorFilter("sz")"
            asp-action="Index"
            asp-route-vendorFilter="sz">
            S-Z
        </a>
    </ul>
</div>

@section Scripts{
    <script>
        //const undoMessage = document.querySelector('.undo-message-box')
        setTimeout(() => {
            $('.undo-message-box').fadeOut(1600, "linear")
        }, 3000)
    </script>
}
