@model VendorRecordViewModel
@{
    ViewData["Title"] = "Vendors";
}

<h2 class="jumbotron">
    @ViewBag.ActionType @ViewData["Title"]
</h2>

@*@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@

<form asp-action="VendorRecord" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="@Model.Vendor.VendorId" />

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorName">Name:</label>
        <input type="text" asp-for="@Model.Vendor.VendorName" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorAddress1">Address 1:</label>
        <input type="text" asp-for="@Model.Vendor.VendorAddress1" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorAddress1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorAddress2">Address 2:</label>
        <input type="text" asp-for="@Model.Vendor.VendorAddress2" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorAddress2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorCity">City:</label>
        <input type="text" asp-for="@Model.Vendor.VendorCity" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorCity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorState">State:</label>
        <input type="text" asp-for="@Model.Vendor.VendorState" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorState" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorZipCode">Zip code:</label>
        <input type="text" asp-for="@Model.Vendor.VendorZipCode" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorZipCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorPhone">Phone:</label>
        <input type="text" asp-for="@Model.Vendor.VendorPhone" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorPhone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorContactFirstName">Contact First Name:</label>
        <input type="text" asp-for="@Model.Vendor.VendorContactFirstName" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorContactFirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.VendorContactLastName">Contact Last Name:</label>
        <input type="text" asp-for="@Model.Vendor.VendorContactLastName" class="form-control" />
        <span asp-validation-for="@Model.Vendor.VendorContactLastName" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Vendor.DefaultTermsId">Default Health Insurance:</label>
        <select asp-for="@Model.Vendor.DefaultTermsId" class="form-control">
            @foreach (var i in @Model.Terms)
            {
                <option value="@i.TermsId">@i.TermsDescription</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vendor.DefaultAccountNumber">Default Pharmacy:</label>
        <select asp-for="@Model.Vendor.DefaultAccountNumber" class="form-control">
            @foreach (var i in Model.Accounts)
            {
                <option value="@i.AccountNumber">@i.AccountNumber</option>
            }
        </select>
    </div>

    <input type="hidden" />

    <div>
        <input type="submit" class="btn btn-primary" value="@ViewBag.ActionType" />
        <a asp-action="Index" 
           asp-route-vendorFilter="@TempData["activePage"]"
           class="btn btn-secondary">Cancel</a>
    </div>
</form>