@model List<BPMeasurement>
@{
    ViewData["Title"] = "BP Measurements for Kwangjin Baek (8707943)";
}

<h2>All Measurements</h2>
<a asp-controller="BPMeasurement" asp-action="Add">Add new BP measurement</a>
<span class="linkSpacer">|</span>
<a asp-controller="Home" asp-action="BPInfo">Information on BP measurements</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Reading</th>
            <th>Category</th>
            <th>Position</th>
            <th>Date Taken</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var msmt in Model)
        {
            var bpClass = "bp" + Regex.Replace(msmt.getCategory(), " ", "");
            <tr>
                <td class="bpClass">@msmt.Systolic.ToString()/@msmt.Diastolic.ToString()</td>
                <td class="bpClass">@msmt.getCategory()</td>
                <td class="bpClass">@msmt.Positions.Name</td>
                <td class="bpClass">@msmt.MeasurementDate.ToString("d")</td>
                <td>
                    <a asp-controller="BPMeasurement" asp-action="Edit" asp-route-id="@msmt.BPMeasurementId">Edit</a>
                    <span class="linkSpacer">|</span>
                    <a asp-controller="BPMeasurement" asp-action="Delete" asp-route-id="@msmt.BPMeasurementId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>