@model List<TransactionRecordKbaek7943>
@{
    ViewData["Title"] = "Transactions";
}

<h2>My Transactions</h2>
<a asp-controller="Transaction" asp-action="Add">Add New Transaction</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ticker Symbol</th>
            <th>Transaction Type</th>
            <th>CompanyName</th>
            <th>Quantity</th>
            <th>Share Price</th>
            <th>Commission Fee</th>
            <th>Gross Value</th>
            <th>Net Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.TicketSymbol</td>
                <td>@i.TrasactionType.Name</td>
                <td>@i.CompanyName</td>
                <td>@i.Quantity</td>
                <td>@i.SharePrice</td>
                <td>@i.TrasactionType.Commission</td>
                <td>Gross Value</td>
                <td>Net Value</td>
                <td>
                    <a asp-controller="Transaction" 
                       asp-action="Edit"
                       asp-route-id="@i.TransactionRecordKbaek7943Id">Edit</a>
                    |
                    <a asp-controller="Transaction" 
                       asp-action="Delete"
                       asp-route-id="@i.TransactionRecordKbaek7943Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
