<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A1_TransactionRecord</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

@{ 
    string controller =
    ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    <img class="logo" src="~/images/logo-mario.png" alt="logo" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark
                               @(controller == "Home" && action == "Index" ? "active" : "")"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark
                               @(controller == "Transaction" && action == "Create" ? "active" : "")"
                               asp-controller="Transaction"
                               asp-action="Create">
                                Add Transaction
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark
                               asp-controller="Home"
                               asp-action="Index">
                                Transactions
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark
                               @(controller == "Company" && action == "Index" ? "active" : "")"
                               asp-controller="Company"
                               asp-action="Index">
                                Companies
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- tempdata -->
    @{
        if (TempData.Keys.Contains("success"))
        {
            <div class="container">
                <p class="col-lg-12 bg-success text-light">
                    @TempData["success"]
                </p>
            </div>
        }
        if (TempData.Keys.Contains("fail"))
        {
            <div class="container">
                <p class="col-lg-12 bg-danger text-light">
                    @TempData["fail"]
                </p>
            </div>
        }
    }<!-- /end tempdata -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TransactionRecord - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
