@*define model -> data that I want to display in this page*@
@*@model List<Actor>*@
@model IEnumerable<Actor>

@*define ViewDate*@
@{
    ViewData["Title"] = "List of Actors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    @*using model property instead of hard coding the title*@
                    @*for this to work use '@model IEnumerable<Actor>'
                      not '@model List<Actor>'*@
                    <th>@Html.DisplayNameFor(m => m.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(m => m.FullName)</th>
                    <th>@Html.DisplayNameFor(m => m.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@i.ProfilePictureURL"
                                 style="max-width: 150px;"/>
                        </td>
                        <td class="align-middle">
                            @i.FullName
                            @*@Html.DisplayFor(m => i.FullName)*@
                        </td>
                        <td class="align-middle">
                            @i.Bio
                            @*@Html.DisplayFor(m => i.Bio)*@
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary">
                                <i class="bi bi-pencil-square">Edit</i>                                
                            </a> |
                            <a class="btn btn-outline-primary">
                                <i class="bi bi-eye">Details</i>                                
                            </a> |
                            <a class="btn btn-danger text-light">
                                <i class="bi bi-trash">Delete</i>
                            </a>
                        </td>
                    </tr>        
                }
            </tbody>
        </table>
    </div>
</div>
